.example-card {
    max-width: 400px;
    flex: 0 1 24%;
    margin: 20px;
  }

  .container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example-header-image{
      width: 70px;
      height: 70px;
      
  }